.w {
    width: 1000px;
    margin: 20px auto;
}

.form-inline {
    justify-content: space-between;
}

.form-inline .form-group {
    margin-left: 0 !important;
}

.form-group .form-control {
    width: 200px;
}