<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dino.mapper.UserMapper">
    <!-- //查询所有-->
    <!-- public ArrayList<User> selectAll(); -->
    <select id="selectAll" resultType="User">
        SELECT * FROM user;
    </select>

    <!--User selectById();-->
    <select id="selectById" resultType="User">
        SELECT * FROM user WHERE id = 1;
    </select>

    <!--void insertUser();-->
    <insert id="insertUser">
        INSERT INTO user(id, username, password, gender, addr) VALUES (4, "Dino", "321", "男", "广州");
    </insert>

    <!--void updateUser();-->
    <update id="updateUser">
        UPDATE user SET username = '张三' WHERE id = '1';
    </update>

    <!--void deleteUser();-->
    <delete id="deleteUser">
        DELETE FROM user WHERE username = 'Dino';
    </delete>

</mapper>