<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.dao.UserMapper">

    <select id="login" resultType="user">
        select user_id id, role_id rid, username, user_tel mobile, user_email email  from sp_user
        where username = #{username} and password = #{password}
    </select>

</mapper>